
.vs\UpdateForCSKYPF\v16\.suo
FileUpdate\obj\Debug
FileUpdate\bin\Debug
FileUpdateFrameWork\obj\Debug
FileUpdateFrameWork\bin\Debug
WinActiveTool\obj\Debug
WinActiveTool\bin\Debug
WinDownload\obj\Debug
WinDownload\bin\Debug
WinDownLoadFrameWork\obj\Debug
WinDownLoadFrameWork\bin\Debug
WinUpdate\obj\Debug
WinUpdate\bin\Debug
WinUpdateFrameWork\obj\Debug
WinUpdateFrameWork\bin\Debug



.vs/UpdateForCSKYPF/v16/.suo
FileUpdate/obj/project.nuget.cache
FileUpdateFrameWork/bin/Debug/FileUpdateFrameWork.dll
FileUpdateFrameWork/bin/Debug/FileUpdateFrameWork.pdb
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.AssemblyReference.cache
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.CoreCompileInputs.cache
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.FileListAbsolute.txt
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.dll
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.pdb
packages/Newtonsoft.Json.13.0.1/.signature.p7s
packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/LICENSE.md
packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
packages/Newtonsoft.Json.13.0.1/packageIcon.png
packages/sqlSugar.4.2.1.9/.signature.p7s
packages/sqlSugar.4.2.1.9/content/References/MySql.Data.dll
packages/sqlSugar.4.2.1.9/content/References/Newtonsoft.Json.dll
packages/sqlSugar.4.2.1.9/content/References/System.Data.SQLite.dll
packages/sqlSugar.4.2.1.9/lib/net40/SqlSugar.dll
packages/sqlSugar.4.2.1.9/sqlSugar.4.2.1.9.nupkg
WinActiveTool/bin/Debug/WinActiveTool.exe
WinActiveTool/bin/Debug/WinActiveTool.pdb
WinActiveTool/obj/Debug/WinActiveTool.csproj.AssemblyReference.cache
WinActiveTool/obj/Debug/WinActiveTool.csproj.FileListAbsolute.txt
WinDownload/bin/Debug/net5.0-windows/FileUpdate.dll
WinDownload/bin/Debug/net5.0-windows/FileUpdate.pdb
WinDownload/bin/Debug/net5.0-windows/ref/WinDownload.dll
WinDownload/bin/Debug/net5.0-windows/WinDownload.dll
WinDownload/bin/Debug/net5.0-windows/WinDownload.exe
WinDownload/bin/Debug/net5.0-windows/WinDownload.pdb
WinDownload/bin/Debug/net5.0-windows/WinDownload.runtimeconfig.dev.json
WinDownload/obj/Debug/net5.0-windows/apphost.exe
WinDownload/obj/Debug/net5.0-windows/ref/WinDownload.dll
WinDownload/obj/Debug/net5.0-windows/WinDownload.assets.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.AssemblyReference.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.CoreCompileInputs.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.FileListAbsolute.txt
WinDownload/obj/Debug/net5.0-windows/WinDownload.dll
WinDownload/obj/Debug/net5.0-windows/WinDownload.genruntimeconfig.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.pdb
WinDownload/obj/project.assets.json
WinDownload/obj/project.nuget.cache
WinDownload/obj/WinDownload.csproj.nuget.dgspec.json
WinDownload/obj/WinDownload.csproj.nuget.g.props
WinDownLoadFrameWork/bin/Debug/FileUpdateFrameWork.dll
WinDownLoadFrameWork/bin/Debug/FileUpdateFrameWork.pdb
WinDownLoadFrameWork/bin/Debug/WinDownLoadFrameWork.exe
WinDownLoadFrameWork/bin/Debug/WinDownLoadFrameWork.pdb
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.AssemblyReference.cache
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.CoreCompileInputs.cache
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.FileListAbsolute.txt
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.exe
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.pdb
WinUpdate/obj/Debug/net5.0-windows/WinUpdate.assets.cache
WinUpdate/obj/Debug/net5.0-windows/WinUpdate.csproj.AssemblyReference.cache
WinUpdate/obj/Debug/net5.0-windows/WinUpdate.Form1.resources
WinUpdate/obj/project.assets.json
WinUpdate/obj/project.nuget.cache
WinUpdate/obj/WinUpdate.csproj.nuget.dgspec.json
WinUpdate/obj/WinUpdate.csproj.nuget.g.props
WinUpdateFrameWork/bin/Debug/FileUpdateFrameWork.dll
WinUpdateFrameWork/bin/Debug/FileUpdateFrameWork.pdb
WinUpdateFrameWork/bin/Debug/WinUpdateFrameWork.exe
WinUpdateFrameWork/bin/Debug/WinUpdateFrameWork.pdb
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.AssemblyReference.cache
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.CoreCompileInputs.cache
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.FileListAbsolute.txt
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.exe
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.pdb
FileUpdateFrameWork/bin/Debug/FileUpdateFrameWork.dll
FileUpdateFrameWork/bin/Debug/FileUpdateFrameWork.pdb
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.AssemblyReference.cache
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.CoreCompileInputs.cache
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.FileListAbsolute.txt
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.dll
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.pdb
WinActiveTool/obj/Debug/WinActiveTool.csproj.AssemblyReference.cache
WinActiveTool/obj/Debug/WinActiveTool.csproj.FileListAbsolute.txt
WinDownload/bin/Debug/net5.0-windows/FileUpdate.dll
WinDownload/bin/Debug/net5.0-windows/FileUpdate.pdb
WinDownload/bin/Debug/net5.0-windows/ref/WinDownload.dll
WinDownload/bin/Debug/net5.0-windows/WinDownload.dll
WinDownload/bin/Debug/net5.0-windows/WinDownload.exe
WinDownload/bin/Debug/net5.0-windows/WinDownload.pdb
WinDownload/bin/Debug/net5.0-windows/WinDownload.runtimeconfig.dev.json
WinDownload/obj/Debug/net5.0-windows/apphost.exe
WinDownload/obj/Debug/net5.0-windows/ref/WinDownload.dll
WinDownload/obj/Debug/net5.0-windows/WinDownload.assets.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.AssemblyReference.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.CoreCompileInputs.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.FileListAbsolute.txt
WinDownload/obj/Debug/net5.0-windows/WinDownload.dll
WinDownload/obj/Debug/net5.0-windows/WinDownload.genruntimeconfig.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.pdb
WinDownload/obj/project.assets.json
WinDownload/obj/WinDownload.csproj.nuget.dgspec.json
WinDownload/obj/WinDownload.csproj.nuget.g.props
WinDownLoadFrameWork/bin/Debug/FileUpdateFrameWork.dll
WinDownLoadFrameWork/bin/Debug/FileUpdateFrameWork.pdb
WinDownLoadFrameWork/bin/Debug/WinDownLoadFrameWork.exe
WinDownLoadFrameWork/bin/Debug/WinDownLoadFrameWork.pdb
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.AssemblyReference.cache
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.CoreCompileInputs.cache
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.FileListAbsolute.txt
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.exe
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.pdb
WinUpdate/obj/Debug/net5.0-windows/WinUpdate.assets.cache
WinUpdate/obj/Debug/net5.0-windows/WinUpdate.csproj.AssemblyReference.cache
WinUpdate/obj/project.assets.json
WinUpdate/obj/WinUpdate.csproj.nuget.dgspec.json
WinUpdate/obj/WinUpdate.csproj.nuget.g.props
WinUpdateFrameWork/bin/Debug/FileUpdateFrameWork.dll
WinUpdateFrameWork/bin/Debug/FileUpdateFrameWork.pdb
WinUpdateFrameWork/bin/Debug/WinUpdateFrameWork.exe
WinUpdateFrameWork/bin/Debug/WinUpdateFrameWork.pdb
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.AssemblyReference.cache
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.CoreCompileInputs.cache
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.FileListAbsolute.txt
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.exe
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.pdb
FileUpdateFrameWork/bin/Debug/FileUpdateFrameWork.dll
FileUpdateFrameWork/bin/Debug/FileUpdateFrameWork.pdb
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.AssemblyReference.cache
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.CoreCompileInputs.cache
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.FileListAbsolute.txt
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.dll
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.pdb
WinActiveTool/obj/Debug/WinActiveTool.csproj.AssemblyReference.cache
WinActiveTool/obj/Debug/WinActiveTool.csproj.FileListAbsolute.txt
WinDownload/bin/Debug/net5.0-windows/FileUpdate.dll
WinDownload/bin/Debug/net5.0-windows/FileUpdate.pdb
WinDownload/bin/Debug/net5.0-windows/ref/WinDownload.dll
WinDownload/bin/Debug/net5.0-windows/WinDownload.dll
WinDownload/bin/Debug/net5.0-windows/WinDownload.exe
WinDownload/bin/Debug/net5.0-windows/WinDownload.pdb
WinDownload/bin/Debug/net5.0-windows/WinDownload.runtimeconfig.dev.json
WinDownload/obj/Debug/net5.0-windows/apphost.exe
WinDownload/obj/Debug/net5.0-windows/ref/WinDownload.dll
WinDownload/obj/Debug/net5.0-windows/WinDownload.assets.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.AssemblyReference.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.CoreCompileInputs.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.FileListAbsolute.txt
WinDownload/obj/Debug/net5.0-windows/WinDownload.dll
WinDownload/obj/Debug/net5.0-windows/WinDownload.genruntimeconfig.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.pdb
WinDownload/obj/project.assets.json
WinDownload/obj/WinDownload.csproj.nuget.dgspec.json
WinDownload/obj/WinDownload.csproj.nuget.g.props
WinDownLoadFrameWork/bin/Debug/FileUpdateFrameWork.dll
WinDownLoadFrameWork/bin/Debug/FileUpdateFrameWork.pdb
WinDownLoadFrameWork/bin/Debug/WinDownLoadFrameWork.exe
WinDownLoadFrameWork/bin/Debug/WinDownLoadFrameWork.pdb
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.AssemblyReference.cache
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.CoreCompileInputs.cache
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.FileListAbsolute.txt
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.exe
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.pdb
WinUpdate/obj/Debug/net5.0-windows/WinUpdate.assets.cache
WinUpdate/obj/Debug/net5.0-windows/WinUpdate.csproj.AssemblyReference.cache
WinUpdate/obj/project.assets.json
WinUpdate/obj/WinUpdate.csproj.nuget.dgspec.json
WinUpdate/obj/WinUpdate.csproj.nuget.g.props
WinUpdateFrameWork/bin/Debug/FileUpdateFrameWork.dll
WinUpdateFrameWork/bin/Debug/FileUpdateFrameWork.pdb
WinUpdateFrameWork/bin/Debug/WinUpdateFrameWork.exe
WinUpdateFrameWork/bin/Debug/WinUpdateFrameWork.pdb
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.AssemblyReference.cache
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.CoreCompileInputs.cache
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.FileListAbsolute.txt
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.exe
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.pdb
FileUpdateFrameWork/bin/Debug/FileUpdateFrameWork.dll
FileUpdateFrameWork/bin/Debug/FileUpdateFrameWork.pdb
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.AssemblyReference.cache
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.CoreCompileInputs.cache
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.FileListAbsolute.txt
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.dll
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.pdb
WinActiveTool/obj/Debug/WinActiveTool.csproj.AssemblyReference.cache
WinActiveTool/obj/Debug/WinActiveTool.csproj.FileListAbsolute.txt
WinDownload/bin/Debug/net5.0-windows/FileUpdate.dll
WinDownload/bin/Debug/net5.0-windows/FileUpdate.pdb
WinDownload/bin/Debug/net5.0-windows/ref/WinDownload.dll
WinDownload/bin/Debug/net5.0-windows/WinDownload.dll
WinDownload/bin/Debug/net5.0-windows/WinDownload.exe
WinDownload/bin/Debug/net5.0-windows/WinDownload.pdb
WinDownload/bin/Debug/net5.0-windows/WinDownload.runtimeconfig.dev.json
WinDownload/obj/Debug/net5.0-windows/apphost.exe
WinDownload/obj/Debug/net5.0-windows/ref/WinDownload.dll
WinDownload/obj/Debug/net5.0-windows/WinDownload.assets.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.AssemblyReference.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.CoreCompileInputs.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.FileListAbsolute.txt
WinDownload/obj/Debug/net5.0-windows/WinDownload.dll
WinDownload/obj/Debug/net5.0-windows/WinDownload.genruntimeconfig.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.pdb
WinDownload/obj/project.assets.json
WinDownload/obj/WinDownload.csproj.nuget.dgspec.json
WinDownload/obj/WinDownload.csproj.nuget.g.props
WinDownLoadFrameWork/bin/Debug/FileUpdateFrameWork.dll
WinDownLoadFrameWork/bin/Debug/FileUpdateFrameWork.pdb
WinDownLoadFrameWork/bin/Debug/WinDownLoadFrameWork.exe
WinDownLoadFrameWork/bin/Debug/WinDownLoadFrameWork.pdb
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.AssemblyReference.cache
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.CoreCompileInputs.cache
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.FileListAbsolute.txt
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.exe
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.pdb
WinUpdate/obj/Debug/net5.0-windows/WinUpdate.assets.cache
WinUpdate/obj/Debug/net5.0-windows/WinUpdate.csproj.AssemblyReference.cache
WinUpdate/obj/project.assets.json
WinUpdate/obj/WinUpdate.csproj.nuget.dgspec.json
WinUpdate/obj/WinUpdate.csproj.nuget.g.props
WinUpdateFrameWork/bin/Debug/FileUpdateFrameWork.dll
WinUpdateFrameWork/bin/Debug/FileUpdateFrameWork.pdb
WinUpdateFrameWork/bin/Debug/WinUpdateFrameWork.exe
WinUpdateFrameWork/bin/Debug/WinUpdateFrameWork.pdb
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.AssemblyReference.cache
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.CoreCompileInputs.cache
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.FileListAbsolute.txt
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.exe
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.pdb
FileUpdateFrameWork/bin/Debug/FileUpdateFrameWork.dll
FileUpdateFrameWork/bin/Debug/FileUpdateFrameWork.pdb
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.AssemblyReference.cache
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.CoreCompileInputs.cache
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.csproj.FileListAbsolute.txt
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.dll
FileUpdateFrameWork/obj/Debug/FileUpdateFrameWork.pdb
WinActiveTool/obj/Debug/WinActiveTool.csproj.AssemblyReference.cache
WinActiveTool/obj/Debug/WinActiveTool.csproj.FileListAbsolute.txt
WinDownload/bin/Debug/net5.0-windows/FileUpdate.dll
WinDownload/bin/Debug/net5.0-windows/FileUpdate.pdb
WinDownload/bin/Debug/net5.0-windows/ref/WinDownload.dll
WinDownload/bin/Debug/net5.0-windows/WinDownload.dll
WinDownload/bin/Debug/net5.0-windows/WinDownload.exe
WinDownload/bin/Debug/net5.0-windows/WinDownload.pdb
WinDownload/bin/Debug/net5.0-windows/WinDownload.runtimeconfig.dev.json
WinDownload/obj/Debug/net5.0-windows/apphost.exe
WinDownload/obj/Debug/net5.0-windows/ref/WinDownload.dll
WinDownload/obj/Debug/net5.0-windows/WinDownload.assets.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.AssemblyReference.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.CoreCompileInputs.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.csproj.FileListAbsolute.txt
WinDownload/obj/Debug/net5.0-windows/WinDownload.dll
WinDownload/obj/Debug/net5.0-windows/WinDownload.genruntimeconfig.cache
WinDownload/obj/Debug/net5.0-windows/WinDownload.pdb
WinDownload/obj/project.assets.json
WinDownload/obj/WinDownload.csproj.nuget.dgspec.json
WinDownload/obj/WinDownload.csproj.nuget.g.props
WinDownLoadFrameWork/bin/Debug/FileUpdateFrameWork.dll
WinDownLoadFrameWork/bin/Debug/FileUpdateFrameWork.pdb
WinDownLoadFrameWork/bin/Debug/WinDownLoadFrameWork.exe
WinDownLoadFrameWork/bin/Debug/WinDownLoadFrameWork.pdb
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.AssemblyReference.cache
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.CoreCompileInputs.cache
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.csproj.FileListAbsolute.txt
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.exe
WinDownLoadFrameWork/obj/Debug/WinDownLoadFrameWork.pdb
WinUpdate/obj/Debug/net5.0-windows/WinUpdate.assets.cache
WinUpdate/obj/Debug/net5.0-windows/WinUpdate.csproj.AssemblyReference.cache
WinUpdate/obj/project.assets.json
WinUpdate/obj/WinUpdate.csproj.nuget.dgspec.json
WinUpdate/obj/WinUpdate.csproj.nuget.g.props
WinUpdateFrameWork/bin/Debug/FileUpdateFrameWork.dll
WinUpdateFrameWork/bin/Debug/FileUpdateFrameWork.pdb
WinUpdateFrameWork/bin/Debug/WinUpdateFrameWork.exe
WinUpdateFrameWork/bin/Debug/WinUpdateFrameWork.pdb
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.AssemblyReference.cache
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.CoreCompileInputs.cache
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.csproj.FileListAbsolute.txt
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.exe
WinUpdateFrameWork/obj/Debug/WinUpdateFrameWork.pdb
WinUpdate/obj/Debug/net5.0-windows/WinUpdate.assets.cache
WinDownload/obj/Debug/net5.0-windows/apphost.exe
